
<form method="POST" action="/player/auth">
  <label for="id">Id:</label><br>
  <input type="number" id="id" name="id" required ><br>
  <label for="name">Password:</label><br>
  <input type="text" id="name" name="name"><br><br>
<button type="submit" class="btn btn-default">Submit</button> 
</form> 